SparseConvNetTorch/build/
*.pth
*.o
*.a
*.so
build
__pycache__
pickle
*.pyc
PyTorch/sparseconvnet.egg-info/
PyTorch/sparseconvnet/SCN/__init__.py
sparseconvnet.egg-info
*.zip
*.rar

# 3d_segmentation train_val/* test/* ignored
examples/3d_segmentation/train_val/*
examples/3d_segmentation/test/*
